.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
*.resolved
filo.xcodeproj

.idea/
.swiftpm/
Tests/lib/
Tests/src/
Tests/src2/
Tests/src3/
